@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: 'Tangerine', cursive;
    letter-spacing: 1px;
    color: #3a3a3a
}

#logo{
    float: left;
    font-size: 350%;
    margin-left: 30px;
    margin-top: 10px;
}

/* navigation links, menu */

#menu, #logo {
  
}

#menu {
    font-size: 120%;
    text-transform: uppercase;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 30px;
    color: #3a3a3a
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    background-color: #e9e3dc;
    color: #a69797;
}

/* hero image (credit: majority of code borrowed from the Love Running Walkthrough Project)*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/book-club-main-image.png'); /* credit: image created in Canva */
    background-size: contains;
}