@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #3a3a3a;
}

a {
    color: #3a3a3a;
}

a:hover {
    text-decoration: none;
    color: #fafafa;
}

/* headings and logo */

h1 {
    font-family: 'Tangerine', cursive;
    letter-spacing: 1px;
    color: #fafafa;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #fafafa;
    margin-left: 30px;
    margin-top: 10px;  
    float: left;
    position: relative;
}

#logo{
    float: left;
    font-size: 350%;
    margin-left: 30px;
    margin-top: 50px;
}

/* navigation links, menu */

#menu, #logo {
   line-height: 20px;
}

#menu {
    font-size: 120%;
    text-transform: uppercase;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fafafa;
}

#menu a {
    text-decoration: none;
    color: #fafafa;
}

#menu a:hover {
    background-color: #fafafa;
    color: #3a3a3a;
    border: none;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* main image */

#main-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 100%;
    width: 100%;
    background: url('../images/main-image.webp');
    background-size: contain;
}

#quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 130%;
    font-family: 'EB Garamond', serif;

    width: 25%;
    height: 10%;

    text-align: center;
    margin-top: 15px;
    left: 35%;
    bottom: 60%;

    color: #3a3a3a;
    
    position: relative;
}

#quote h1 {
    color:#3a3a3a;
}

#quote p {
    color: #3a3a3a;
}

#quote h3 {
    color: #3a3a3a;
    font-size: 105%;
    margin-top: 10px;
}
/* map */

#map {
    width: 100%;
}